<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body></body>
    {{>header}}
    <p>{{subtitle}}</p>
    <img class="portrait" src="img/family.jpg" alt="My Family">
    {{>footer}}
</body>
</html>